.btn {
  margin-bottom: 25px;
  padding-top: 111px;
  position: relative;
  width: 180px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-orange);
  text-align: center;
  text-transform: uppercase;
  line-height: 22px;
  border: none;
  outline: none;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  width: 111px;
  height: 101px;
  background: url("../img/paw.svg") center center/cover no-repeat;
}

.btn:hover:after,
.btn:active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 35px;
  width: 107px;
  height: 97px;
  background: url("../img/paw.svg") center center/cover no-repeat;
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
