.header__container {
  display: flex;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 27px;
}

.header__burger {
  margin-right: 374px;
  cursor: pointer;
}

.header__burger-line {
  margin-bottom: 6px;
  width: 40px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.header__burger-line:last-child {
  margin-bottom: 0;
  width: 29px;
}

.header__burger:hover {
  opacity: 0.6;
}

.header__burger:active {
  opacity: 1;
}

.header__phone {
  margin-left: auto;
  font-weight: 500;
}

.header__image {
  vertical-align: bottom;
}
